<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-reset-password d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="card">
                    <form [formGroup]="formulario">
                        <div class="row g-0">
                            <div class="col-lg-5 border-end">
                                <div class="card-body">
                                    <div class="p-5">
                                        <div class="text-start">
                                            <img src="../../../../assets/admin/images/logo-img.png" width="180" alt="">
                                        </div>
                                        <div class="mt-3 text-start">	
                                            Ya perteneces a nuestra familia?<a [routerLink]="['/login']"> <b> Iniciar Sesión</b></a>
                                        </div>
                                        <h4 class="mt-4 font-weight-bold">Registrarse</h4>
                                        <p class="text-muted">Registrate y se parte de nosotros para asi poder encontrar los mejores productos a los mejores precios</p>
                                        <div class="mb-3 mt-4">
                                            <label class="form-label">Nombres</label>
                                            <input type="text" class="form-control" formControlName="nombres" placeholder="Nombres" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Apellidos</label>
                                            <input type="text" class="form-control" formControlName="apellidos" placeholder="Apellidos" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Correo</label>
                                            <input type="text" class="form-control" formControlName="correo" placeholder="Correo" />
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button (click)="registrar()" class="btn btn-primary" [disabled]="formulario.invalid" [hidden]="cargando"><i class="bx bxs-lock-open"></i>Registrarse</button>
                                            <button class="btn btn-primary" id="modalFormButtonLoading" type="button" disabled [hidden]="!cargando">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Registrando..
                                            </button>
                                        </div>
                                        <br>
                                        <div class="d-grid gap-2">
                                            <a [routerLink]="['/']" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Regresar a la Tienda</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img src="../../../../assets/admin/images/login-images/login.jpg" class="card-img login-img h-100" alt="...">
                            </div>
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper -->