<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-reset-password d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="card">
                    <form [formGroup]="formulario">
                        <div class="row g-0">
                            <div class="col-lg-5 border-end">
                                <div class="card-body">
                                    <div class="p-5">
                                        <div class="text-start">
                                            <img src="../../assets/admin/images/logo-img.png" width="180" alt="">
                                        </div>
                                        <h4 class="mt-5 font-weight-bold">Generar Nueva Contraseña</h4>
                                        <p class="text-muted">Recibimos su solicitud de cambiar su contraseña a una mas amigable para usted. ¡Por favor ingrese su nueva contraseña!</p>
                                        <div class="mb-3 mt-5">
                                            <label class="form-label">Contraseña Actual</label>
                                            <input type="password" class="form-control" formControlName="claveAntigua" placeholder="Contraseña Actual" />
                                        </div>
                                        <div class="mb-3 ">
                                            <label class="form-label">Contraseña Nueva</label>
                                            <input type="password" class="form-control" formControlName="claveNueva" placeholder="Contraseña Nueva" />
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Confirmar Contraseña Nueva</label>
                                            <input type="password" class="form-control" formControlName="confirmarClaveNueva" placeholder="Confirmar Contraseña Nueva" />
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button type="button" (click)="nuevaClave()" class="btn btn-primary" [disabled]="formulario.invalid" [hidden]="cargando">Confirmar Cambios</button>
                                            <button class="btn btn-primary" id="modalFormButtonLoading" type="button" disabled [hidden]="!cargando">
                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Confirmando Cambios...
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img src="../../assets/admin/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
                            </div>
                        </div>
                    </form>                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wrapper -->