<div class="row row-cols-1 row-cols-md-2 row-cols-xl-2 row-cols-xxl-4">
    <div class="col">
      <div class="card radius-10 bg-gradient-cosmic">
         <div class="card-body">
             <div class="d-flex align-items-center">
                 <div class="me-auto">
                     <p class="mb-0 text-white">Total Clientes</p>
                     <h4 class="my-1 text-white">{{totalClientes}}</h4>
                 </div>
                 <i class="fadeIn animated bx bx-user" style="color: white; font-size: 40px;"></i>
             </div>
         </div>
      </div>
    </div>
    <div class="col">
     <div class="card radius-10 bg-gradient-ibiza">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <p class="mb-0 text-white">Total Productos</p>
                    <h4 class="my-1 text-white">{{totalProductos}}</h4>
                </div>
                <i class="fadeIn animated bx bx-box" style="color: white; font-size: 40px;"></i>
            </div>
        </div>
     </div>
   </div>
   <div class="col">
     <div class="card radius-10 bg-gradient-ohhappiness">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <p class="mb-0 text-white">Total Ventas</p>
                    <h4 class="my-1 text-white">{{totalVentas}}</h4>
                </div>
                <i class="fadeIn animated bx bx-calculator" style="color: white; font-size: 40px;"></i>
            </div>
        </div>
     </div>
   </div>
   <div class="col">
     <div class="card radius-10 bg-gradient-kyoto">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <p class="mb-0 text-white">Total Ingresos</p>
                    <h4 class="my-1 text-white">S/{{totalIngresos}}</h4>
                </div>
                <i class="fadeIn animated bx bx-money" style="color: white; font-size: 40px;"></i>
            </div>
        </div>
     </div>
   </div> 
</div><!--end row-->

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card radius-10">
            <div class="card-body">
                <div class="chart-container-1 mt-4">
                    <canvas id="chart7"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="card radius-10">
            <div class="card-body">
             <div class="chart-container-1 mt-4">
                 <canvas id="chart6"></canvas>
               </div>
            </div>
        </div>
    </div>
</div>

 